@media(max-width: 1156px){
    .about__items{
        display: block;
    }
    .about__item{
        margin: 30px auto;
        min-height: 330px;
        max-width: 80%;
    }
    .form__inner{
        background-image: none;
    }
    .advantages__inner{
        display: block;        
    }
    .advantages__item{
        margin-bottom: 20px;
    }
}
@media(max-width: 900px){
    .container{
    position: relative;
    }
    .slider .slick-btn{        
    position: absolute;
    top: 320px;
    z-index: 3;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    background-color: #A7D5ED;
    align-items: center;           
    }
    .about__top{
        display: block;
    }
    .about__title-box,
    .form-title{
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .about-spec{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .spec-title
    .spec-text{
        text-align: center;
        margin: 0 auto;
    }
    .about__title-box:before,
    .form-title::before,
    .spec-title:before{
        display: none;
    }
    .about__btn{
        text-align: center;
    }
    .form__box-inner{
        display: block;
    }
    .form-text{
        padding-left: 0;
        text-align: center;
    }
    .advantages{
        margin-top: 40px;        
    }
    .footer__inner{
        display: block;
    }
    .footer__map{
        max-width: 500px;
    }
    ul.slick-dots{
    margin-inline-start: 40%;       
    }
}    
@media(max-width: 700px){
    .header_btn{
        float: none; 
        display: inline-block;          
    }
    .header_contacts{
        text-align: center;
    }
    .header__btn-menu{
        display: block;
        font-size: 28px;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li{
        display: block;
        text-align: center;
        
    }
    .menu a{
        display: block;
        background-color:rgb(121, 179, 212);
        border-top: 1px solid rgb(34, 68, 95);
        border-bottom: 1px solid rgb(34, 68, 95);
    }
    .menu li + li{
        padding-left: 0;
    }
    .form__box-left,
    .form__box-right{
        max-width: 100%;        
    }
    .form__box-inner select{
        margin-bottom: 10px;
    }
    .form__box-right .default-btn{
        margin-bottom: 10px;
    }
}
@media(max-width: 600px){
    .about__items{
        display: block;
    }
    .about__item{
        margin: 30px auto;
        min-height: 375px;
        max-width: 100%;
    }
    .footer__inner{
        display: block;
    }
    .footer__map{
        max-width: 100%;
    }
}
@media(max-width: 414px){
    .slider__title{
        font-size: 24px;
    }
    .slider__text{
        font-size: 16px;
    }
    .advantages__item{
        padding-left: 0;
        min-width: auto;       
    }
    .header_phone{
        text-align: center;
        padding-left: 20px;
        padding-right: 0;
    }
}
@media(min-width: 700px){
.menu ul{
    display: block !important;
}
}